[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-sqlalchemy = "*"
flask-migrate = "*"
flask-jwt-extended = "*"
flask-restful = "*"
Faker = "*"
importlib-metadata = "*"
importlib-resources = "*"
pytest = "*"
flask-bcrypt = "*"
marshmallow = "*"
python-dotenv = "*"
gunicorn = "*"

[dev-packages]

[requires]
python_version = "3.14"
